@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.eot");
  src: url("../fonts/vazir.ttf") format("truetype"),
    url("../fonts/vazir.woff2") format("woff2"),
    url("../fonts/vazir.woff") format("woff"),
    url("../fonts/Vazir-Bold.woff") format("woff"),
    url("../fonts/Vazir-Bold.woff2") format("woff"),
    url("../fonts/Vazir-Bold.ttf") format("truetype"),
    url("../fonts/Vazir-Bold.eot");
}

:root {
  --color-blue: #1f8acf;
  --background-1: #f1faff;
}

*,
ul,
h5,
h3 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "vazir";
  direction: rtl;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
header {
  display: flex;
  /* background-color: rgb(228, 228, 235); */
  flex-direction: column;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.nav-bar {
  display: flex;
  /* background-color: rgb(228, 228, 235); */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.nav-bar .logo {
  cursor: pointer;
}

.nav-bar nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li {
  margin-left: 50px;
}
.nav-bar ul img {
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.nav-bar ul a {
  color: #000;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}
.nav-bar ul a:hover {
  color: var(--color-blue);
}
.country {
  position: relative;
  /* width: 10%; */
  /* box-sizing: border-box; */
}
.dropdown {
  display: flex;
  align-items: center;
  background-color: #93bfcf;
  border-radius: 5px;
  color: #fff;
  padding: 3px 10px;
  cursor: pointer;
}
.drop-container .lang {
  font-size: 14px;
  width: 50px;
  /* background-color: #1f8acf; */
}
.drop-container .flag img {
  width: 25px;
  height: 25px;
}
.dropdown .arrow {
  content: "";
  z-index: 11;
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  margin-right: 30px;
  transition: all 0.3s ease-in-out;
}
.dropdown .arrow.rotate {
  transform: rotate(135deg);
}
.dropdown .flag {
  margin-right: 7px;
}
.other-lang {
  margin-top: 1px;
  position: absolute;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  display: none;
}
.show {
  display: block;
}
.other-lang .lang-fa,
.other-lang .lang-en {
  border-bottom: 1px solid #ebebeb;
}
.other-lang .dropdown {
  border-radius: 0;
  justify-content: space-between;
}
.other-lang .dropdown:hover {
  background-color: #bedbe6;
}
.dropdown img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.head-content {
  background: var(--background-1);
}
.head-content .container {
  display: flex;
  height: 480px;
}
.head-content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head-content-right h1 {
  color: var(--color-blue);
  font-size: 32px;
  width: 70%;
  line-height: 44px;
}
.head-content-right h3 {
  font-size: 22px;
  width: 73%;
  line-height: 44px;
  color: #555;
}
.head-content-left {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* section detail */
.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.detail-title {
  text-align: center;
  color: var(--color-blue);
  font-size: 30px;
  padding: 18px 0;
  font-weight: bolder;
}
.detail-content {
  display: flex;
  align-items: center;
}
.detail-content .right {
  height: 300px;
  width: 50%;
}
.detail-content .right-title {
  display: flex;
  align-items: center;
  width: 100%;
}
.detail-content .right-title .right-title-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-blue);
  border-radius: 10px;
  padding: 8px;
  width: 90%;
}
.detail-content .right-title img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.detail-content .right-title h5 {
  color: #fff;
  font-size: 20px;
}
.right-body {
  background-color: var(--background-1);
  width: 90%;
  height: 77%;
  margin-top: 20px;
  border-radius: 0px 0px 10px 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-body-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.right-body-title h5 {
  color: var(--color-blue);
  font-weight: bolder;
  font-size: 18px;
  margin-right: 5px;
}
.right-body-content {
  text-align: justify;
}
.right-body-content p {
  line-height: 30px;
}

.detail-content .left {
  width: 50%;
  height: 300px;
}
.detail-content .left img {
  height: 100%;
}

/* section components */
.components {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
.title h5 {
  color: var(--color-blue);
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 20px 0;
}
.components-content {
  position: relative;
}
.components-content > img {
  position: absolute;
  left: 50%;
  top: -5px;
  width: 14%;
  transform: translateX(-50%);
}
.components-logo {
  display: flex;
  height: 400px;

  /* align-items: flex-start; */
}
/* .components-logo .item {
  display: flex;

} */
.components-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
}
.components-content .right {
  /* background-color: #e6e4e4; */
  width: 33.3333%;
  height: 70%;
}
.components-content .middle {
  /* background-color: #fab6b6; */
  width: 33.3333%;
  height: 70%;
  align-self: flex-end;
}
.components-content .left {
  /* background-color: #d8d5ff; */
  width: 33.3333%;
  height: 70%;
}
/*  */
.other {
  height: 500px;
}
