@media only screen and (min-width: 1290px) {
  .others-title-items .item.active {
    border: 4px solid #ffffff;
    margin-bottom: -3px;
    padding: 0 20px;
    position: relative;
  }
}
@media only screen and (min-width: 1400px) {
  .others-title-items .item.active::after {
    content: "";
    position: absolute;
    height: 1.9px;
    width: 11%;
    background-color: #0fd76a;
    top: -10%;
    left: 78px;
  }
  .swiper2 .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    right: -703px;
  }
  .videos-item .play-img {
    left: 60%;
  }
  .welcome {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  body.open-menu .blr-page {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
  }
  header {
    position: relative;
  }
  header .nav-bar nav {
    opacity: 0;
    transform: translateX(-300px);
    z-index: 110;
  }
  header .nav-bar nav {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #f7f7f7;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  header .nav-bar nav.show {
    transform: translateX(0);
    opacity: 1;
    left: 0;
  }
  header .nav-bar nav.close-again {
    transform: translateX(-300px);
    animation: closeMenu 1s;
  }

  header .nav-bar nav ul {
    flex-direction: column;
    padding: 0 30px;
    z-index: 999;
  }
  header .nav-bar nav ul .close {
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    border: none;
    outline: none;
    font-size: 40px;
    background-color: transparent;
  }
  header .nav-bar nav ul li {
    margin-bottom: 25px;
  }
  header .nav-bar nav ul li img {
    width: 30px;
    height: 30px;
  }
  header .nav-bar nav ul li a {
    font-size: 20px;
    margin-right: 10px;
  }
  header .humbutgar-menu {
    display: block;
  }
  .country {
    display: none;
  }
  /*  */
  .detail-content .right-title h5 {
    font-size: 15px;
  }
  .detail-content .right-body-content p {
    font-size: 15px;
  }

  /* welcome */
  .welcome {
    padding-bottom: 50px;
  }

  /* notif */
  .notif .swiper2 .swiper-slide .info {
    margin-right: 53px;
  }
  .swiper2 .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    right: -513px;
  }
  /* videos */
  .videos {
    justify-content: space-around;
  }
  .videos-item {
    width: auto;
  }
  .video-title p {
    text-align: center;
  }
  /* ruler-item */
  .ruler-item .swiper-slide .ruler-box {
    width: 41%;
  }

  /* others */
  .others-title-items .item.active {
    margin-bottom: 0;
    padding: 0 10px;
    border-bottom: none;
  }
  .others-title-items .item.active .item-center::after,
  .others-title-items .item.active .item-center::before {
    background-image: none;
    content: none;
    display: none;
  }
  .others-title-items .item.active .item-center p {
    color: var(--color-blue);
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 991px) {
  .detail-content {
    flex-direction: column;
    align-items: center;
  }
  .detail-content .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .detail-content .left {
    width: 100% !important;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .detail-content .right-title {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .detail-content .right-title h5 {
    font-size: 18px;
  }
  /*  */
  .components-logo .right,
  .components-logo .left {
    flex-direction: column;
  }
  .components-logo .right .components-item,
  .components-logo .left .components-item {
    align-self: center !important;
    margin-top: 10px;
  }
  .components-logo .middle .components-item:first-child {
    margin-left: 10px;
  }
  /* welcome */
  .welcome {
    padding-bottom: 93px;
  }
  .welcome-content {
    flex-direction: column;
  }
  .welcome .welcome-title {
    padding-bottom: 0;
  }
  .welcome-content .right {
    flex-direction: row;
    width: 100%;
    padding-bottom: 10px;
  }
  .welcome-content .right img {
    width: 40%;
  }
  .welcome-content .right p {
    width: 52%;
  }
  .welcome-content .left {
    width: 100%;
  }

  /* blog */
  .blog-content {
    flex-direction: column;
  }
  .blog .right {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  .blog .left .left-item-bottom .content {
    padding-top: 20px;
  }
  .blog .swiper-pagination {
    bottom: 8px !important;
  }

  /* notif */
  .notif .left {
    max-height: 221px;
  }
  .notif .swiper2 .info-img {
    display: flex;
    justify-content: end;
    margin-top: -6px;
  }
  .notif .swiper2 .swiper-slide .info {
    margin-top: 0;
    margin-right: 45px;
  }
  .notif.notif .swiper2 .swiper-slide .info h5 {
    font-size: 16px;
  }
  .notif.notif .swiper2 .swiper-slide .info p {
    font-size: 14px;
  }
  .notif .swiper2 .swiper-slide .info a {
    margin-top: 4px;
  }
  .notif .swiper2 .info-img {
    left: -38px;
    display: flex;
    justify-content: end;
    margin-top: -6px;
  }
  .notif .swiper2 .info-img img {
    width: 82%;
  }
  .swiper2 .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    right: -376px;
  }

  /* videos */
  .videos-item {
    width: 40%;
  }

  .videos-item .play-img {
    left: 51%;
    top: 50%;
  }
  .more-detail-btn {
    /* margin-right: 62px; */
    width: 28%;
  }
  .videos-item {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
  }

  /* ruler-item */
  .ruler-item .swiper-slide > p {
    font-size: 13px;
    text-align: center;
  }
  .ruler-item .swiper-slide .ruler-box img {
    width: 55px;
    height: 55px;
  }
  .ruler-item .swiper-slide .ruler-box {
    width: 57% !important;
  }
  .ruler-item .top-item img {
    width: 70px;
    height: 70px;
  }

  /* footer */
  .corner-left {
    top: -9px;
  }
  .corner-right {
    right: -22px;
  }
  .footer-head-logo {
    left: 33%;
  }
}

@media only screen and (max-width: 767px) {
  .head-content {
    padding: 20px 0;
  }
  .head-content .container {
    flex-direction: column;
    align-items: center;
  }
  .head-content-right {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .head-content-right h1 {
    font-size: 26px;
  }
  .head-content-right h3 {
    font-size: 17px;
  }
  .head-content-right .head-content-left {
    width: 100%;
  }
  .head-content-left {
    justify-content: center;
    margin-top: 20px;
  }
  .head-content-left img {
    justify-content: center;
  }
  /* component */
  .components {
    padding-bottom: 105px;
  }
  .components-content > img {
    top: -72px;
  }
  .components-logo {
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }
  .components-logo .right,
  .components-logo .middle,
  .components-logo .left {
    flex-direction: row;
    width: 100%;
  }
  .components-logo .middle {
    align-self: center;
    margin-top: 10px;
  }

  /* welcome */
  .welcome {
    padding-bottom: 110px;
  }

  /* blog */
  .blog .left h5 {
    font-size: 18px;
  }
  .blog .left p {
    font-size: 14px;
  }
  .blog .left .left-item-bottom .content {
    padding-bottom: 15px;
  }

  /* notif */
  .swiper2 {
    max-height: 164px;
  }
  .notif .notif-content {
    flex-direction: column;
  }
  .notif .notif-content {
    width: 100%;
  }
  .notif .right {
    width: 100%;
    justify-content: center;
  }
  .notif .left {
    width: 94%;
    margin-top: 20px;
  }
  .swiper2 .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    right: -458px;
  }

  /* ruler-item */
  .ruler-item .top-item img {
    width: 60px;
    height: 60px;
  }
  .ruler-item .swiper-slide {
    flex-direction: column;
  }
  .ruler-item .swiper-slide.active .ruler-box {
    display: flex;
    width: 100% !important;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
  }
  .ruler-item .swiper-slide.active > p {
    width: 100%;
    padding-left: 23px;
    padding-top: 9px;
  }
  .ruler-item .swiper-slide .ruler-box img {
    width: 40px;
    height: 40px;
  }
  .ruler-item .swiper-slide.active .ruler-box p {
    font-size: 14px;
  }
  /* oters */
  .others-content .tabs-detail {
    display: none;
  }
  /* footer */
  .corner-right {
    right: -94px;
  }
  .corner-left,
  .corner-right {
    width: 250px;
  }
  .corner-left {
    left: -57%;
  }
  .footer-head-logo {
    left: 30%;
  }

  .corner-right {
    top: -9px;
  }
  .footer-item h5 {
    font-size: 18px;
  }
  .footer-item div,
  .footer-item p {
    font-size: 13px;
  }
  .footer-email {
    display: flex;
    flex-wrap: wrap;
  }
  .author {
    font-size: 16px;
  }
  .footer-bottom .social img {
    width: 30px;
    height: 30px;
  }
  .footer-image img {
    width: 28%;
    object-fit: contain;
  }
  .footer-image img:first-child {
    width: 40%;
  }

  /* others */
  .others-title-items .item-center img,
  .others-title-items .item-center svg {
    width: 30px;
    height: 30px;
  }
  .others-title-items .item-center p {
    font-size: 13px;
  }
  .others .detail-info {
    font-size: 14px;
  }
  .others .tabs-detail {
    font-size: 14px;
  }
}

@media only screen and (max-width: 630px) {
  .corner-left,
  .corner-right {
    width: 220px;
  }
}
@media only screen and (max-width: 576px) {
  .title h5 {
    font-size: 24px;
  }
  .head-content-left img {
    width: 390px;
  }
  /* detail */
  .detail-content .left img {
    max-height: 80%;
  }
  .detail-content .left img {
    width: 90%;
    margin-top: 40px;
  }
  .detail-content .right-body {
    height: 92%;
  }
  .detail-content .right-title img {
    display: none;
  }
  .detail-content .right-title h5 {
    text-align: center;
  }
  /* blog */
  .left-item-bottom {
    display: none;
  }
  .notif {
    padding-bottom: 75px;
  }
  .notif .swiper2 .swiper-slide {
    flex-direction: column;
  }
  .notif .swiper2 .swiper-slide .info {
    margin-top: -6px;
    margin-right: 35px;
  }

  /* gallery */
  .gallery-content {
    flex-direction: column;
  }
  .gallery .right {
    width: 100%;
    margin-bottom: 44px;
  }
  .gallery .left {
    width: 100%;
  }
  .gallery .swiper3 {
    width: 43%;
  }
  .gallery .right p {
    font-size: 19px;
  }
  .gallery .swiper-button-prev::after {
    left: 27px;
  }
  .gallery .swiper-button-next::after {
    right: 1px;
  }

  /* videos */
  .videos video {
    width: 100%;
  }

  /*  */
  .ruler-item .swiper-slide.active {
    width: 41% !important;
  }

  /* notif */
  .notif.notif .swiper2 .swiper-slide .info p {
    font-size: 13px;
    width: 86%;
  }
  .notif .swiper2 .swiper-slide .info a {
    margin-top: 3px;
    font-size: 14px;
  }
  .notif .swiper2 .info-img {
    left: -28px;
    top: 2px;
  }
  .swiper2 .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    right: -95%;
  }
  /* ruler item */
  .ruler-item .top {
    flex-wrap: wrap;
  }
  .ruler-item .top-item {
    width: 50%;
  }

  /* footer */
  .corner-right {
    right: -49%;
  }
  .footer-head-logo {
    left: 19%;
    top: 0%;
  }
  .corner-left,
  .corner-right {
    width: 125%;
  }
  .corner-left {
    left: -70%;
  }

  .footer-content {
    flex-direction: column;
  }
  .footer-content {
    flex-direction: column;
  }

  .final-word {
    width: 90%;
    text-align: center;
  }
  .footer-item h5 {
    font-size: 24px;
  }
  .footer-item div,
  .footer-item p {
    font-size: 17px;
  }
  .footer-item {
    width: 90%;
    text-align: center;
    margin-top: 20px;
  }
  .footer-item .email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-image {
    flex-direction: column;
    align-items: center;
  }
  .footer-image img {
    margin-right: 0;
  }
  .footer-image img {
    width: 40%;
  }
  .footer-image img:first-child {
    width: 72%;
    margin-bottom: 5px;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom .social img {
    width: 35px;
    height: 35px;
  }
  .footer-bottom .author {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 390px) {
  .head-content-right h1 {
    font-size: 22px;
    line-height: 34px;
  }
  .head-content-right h3 {
    font-size: 15px;
    line-height: 34px;
  }
  .head-content-left {
    width: 100%;
  }
  .detail-title .right-body {
    width: 90%;
  }
  .head-content-left img {
    max-width: 90%;
  }
  .detail-content .right-title img {
    display: none;
  }
  .detail-content .right-title h5 {
    font-size: 18px;
    text-align: center;
  }
  .detail-content .left img {
    margin-top: 40px;
    max-height: 60%;
  }

  /* components */
  .components {
    background-color: #fff;
    padding-bottom: 160px;
  }
  .components-logo {
    margin-top: 75px;
  }
  .components-content > img {
    display: none;
  }
  .components-item {
    box-shadow: 0px 0px 40px 0px #00000014;
  }

  .components-logo .right,
  .components-logo .middle {
    margin-top: 20px;
  }
  .components-logo .left {
    margin-top: 10px;
  }

  /* welcome */
  .welcome {
    padding-bottom: 440px;
  }
  .welcome-content .right img {
    display: none;
  }
  .welcome-content .right {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .welcome-content .right p {
    width: 80%;
  }
  .accordion {
    width: 75%;
  }

  /* blog */
  .blog-content {
    justify-content: center;
    align-items: center;
  }
  .blog-content .right {
    margin-left: 0;
    width: 85%;
  }
  .blog .left {
    width: 85%;
  }
  .blog-content .left-item-bottom {
    display: none;
  }
  .blog .left .left-item {
    width: 100%;
    margin-bottom: 20px;
  }

  /* .gallery */
  .gallery-content {
    flex-direction: column;
    align-items: baseline;
  }
  .gallery-content .right {
    width: 90%;
  }
  .gallery-content .left {
    width: 90%;
    margin-top: 40px;
  }

  /* videos */
  .videos-item {
    width: 90%;
  }
  .videos .more-detail-btn {
    width: 40%;
  }
  /* notif */
  .swiper2 .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    right: -93%;
  }

  /* ruler */
  .ruler-item .swiper-slide {
    flex-direction: row;
    width: 30% !important;
  }
  .ruler-item .swiper-slide.active {
    width: 80% !important;
  }
  .ruler-item .swiper-slide.active .ruler-box {
    flex-direction: column;
    width: 85%;
  }

  /* others */
  .others-title {
    border-bottom: none;
  }
  .others-title .others-title-items {
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .others-title .others-title-items .item {
    width: 90% !important;
    box-shadow: 0px 0px 30px 0px #0000001a;
    height: 233px;
    margin-top: 28px;
    border-radius: 10px;
  }

  .others-title-items .item-center img,
  .others-title-items .item-center svg {
    width: 75px;
    height: 75px;
  }
  .others-title-items .item-center p {
    font-size: 20px;
  }
  .others-content {
    display: none;
  }

  /* footer */
  .corner-left,
  .corner-right {
    width: 184%;
  }

  .corner-right {
    right: -130px;
  }
  .corner-left {
    left: -115%;
  }
  .footer-head-logo {
    left: 19%;
  }
  .footer-content {
    flex-direction: column;
  }

  .final-word {
    width: 90%;
    text-align: center;
  }
  .footer-item h5 {
    font-size: 24px;
  }
  .footer-item div,
  .footer-item p {
    font-size: 17px;
  }
  .footer-item {
    width: 90%;
    text-align: center;
    margin-top: 20px;
  }
  .footer-item .email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-image {
    flex-direction: column;
    align-items: center;
  }
  .footer-image img {
    margin-right: 0;
  }
  .footer-image img {
    width: 40%;
  }
  .footer-image img:first-child {
    width: 72%;
    margin-bottom: 5px;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom .social img {
    width: 35px;
    height: 35px;
  }
  .footer-bottom .author {
    margin: 5px 0;
  }
}
