.welcome {
  background-color: #f1faff;
}
.welcome .welcome-title {
  text-align: center;
  padding: 30px;
}
.welcome-content {
  display: flex;
}
.welcome .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome .right p {
  width: 70%;
  text-align: justify;
}
.welcome .right img {
  margin-top: 30px;
}
.welcome .left {
  width: 50%;
}
.row {
  max-height: 300px;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
}
.accordion-button {
  /* white-space: nowrap; */
}
.accordion-button::after {
  margin-right: 60px;
}
accordion-flush .accordion-button::after {
  margin-right: 70px;
}
.accordion-item {
  margin-bottom: 7px;
}
.accordion-button {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.form-select {
  width: 100%;
  margin: 7px 0;
}

/* blog section */
.section-btn {
  padding: 5px 10px;
  background-color: var(--color-blue);
  border-radius: 5px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--color-blue);
}
.section-btn:hover {
  color: var(--color-blue);
  background-color: #fff;
  border: 1px solid var(--color-blue);
}
.blog {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.blog .title {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.blog-content {
  display: flex;
}
.blog .right {
  flex: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 40px 0px #00000014;
}
/* swiper slider */
.swiper-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  height: 100%;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.blog .swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.blog .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.blog .swiper-wrapper .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.blog .swiper-wrapper .info p {
  margin-top: 20px;
}
.blog .swiper-pagination {
  bottom: 74px !important;
  left: 50px !important;
  width: auto !important;
}
.blog .swiper-slide .btn-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
/* end of swiper slider */
.blog .left {
  flex: 3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blog .left .left-item {
  width: 47%;
  box-shadow: 0px 0px 40px 0px #00000014;
  padding-bottom: 20px;
}
.blog .left .left-item img {
  width: 100%;
}
.blog h5 {
  width: 87%;
  line-height: 25px;
  font-weight: bolder;
}
.blog p {
  width: 87%;
  font-size: 15px;
  margin-bottom: 11px;
}
.blog .btn-container {
  width: 85%;
}
.blog .left .left-item .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.blog .left .left-item-2 {
  width: 40%;
}
.blog .left .left-item-3 {
  width: 90%;
}
.left-item-bottom {
  width: 97%;
  display: flex;
  margin-top: 20px;
  box-shadow: 0px 0px 40px 0px #00000014;
  /* padding-bottom: 10px; */
}
.left-item-bottom .content {
  padding: 0 20px;
}
.left-item-bottom .btn-container {
  margin-top: 30px;
}

/* notif section  */
.notif {
  background-color: #f1faff;
  padding-bottom: 30px;
  position: relative;
}
.notif-title {
  overflow: hidden;
}
.notif .container {
  flex-direction: column;
  overflow: hidden;
}
.notif .notif-content {
  width: 96%;
}
.notif .right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.notif .right p {
  width: 85%;
  text-align: justify;
}
.notif .left {
  width: 60%;
  max-height: 300px;
  background-color: #fff;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.01);
}

.notif .swiper-slide {
  display: flex;
}
.notif .swiper-pagination2 {
  width: auto !important;
  background-color: red;
}
.swiper2 {
  max-height: 207px;
  overflow: visible;
}
.notif .swiper2 .swiper-slide {
  max-height: 100%;
}
.notif .swiper2 .swiper-slide .info {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 70px;
  margin-top: 20px;
}
.notif.notif .swiper2 .swiper-slide .info h5 {
  margin-bottom: 10px;
  font-weight: bolder;
}
.notif .swiper2 .swiper-slide .info a {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.notif .swiper2 .swiper-slide .info svg {
  width: 21px;
  margin-right: 5px;
}
.notif .swiper2 .swiper-slide {
  justify-content: space-between;
}
.notif .swiper2 .info-img {
  left: -30px;
  position: absolute !important;
}
.notif .swiper-pagination-bullet {
  margin-top: 5px !important;
  width: 10px;
  height: 10px;
}
.notif .swiper-slide-next,
.notif .swiper-slide-prev {
  opacity: 0;
}

/* gallery */
.gallery {
  /* overflow: hidden; */
}
.gallery .container {
  flex-direction: column;
}
.gallery-content {
  margin-top: 20px;
}
.gallery .right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.gallery .right p {
  width: 80%;
  text-align: justify;
  font-weight: bolder;
  font-size: 20px;
}
.gallery .left {
  width: 60%;
  display: flex;
  justify-content: center;
}

/* swiper */
.gallery .swiper3 {
  width: 62%;
  height: 280px;
  direction: ltr;
  position: relative;
}

.gallery .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  direction: ltr;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
.gallery .swiper-slide img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 5px;
}
.gallery .swiper-slide h5 {
  position: absolute;
  bottom: 14px;
  right: 25px;
  font-size: 17px;
}
.gallery .swiper-button-next::after {
  content: "";
  background-image: url(../images/Vector.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 20px;
  position: absolute;
  bottom: -170px;
  right: 0px;
  z-index: 999;
}
.gallery .swiper-button-prev::after {
  content: "";
  left: 30px;
  width: 80px;
  height: 20px;
  background-image: url(../images/Vector1.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -170px;
  z-index: 999;
}

/* video section */
.video {
  margin-top: 120px;
  padding-bottom: 30px;
}
.video-title {
  font-size: 20px;
  font-weight: bolder;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  margin-top: 50px;
}
.videos-item {
  width: calc(33.333% - 10px);
  position: relative;
  cursor: pointer;
}
.videos-item p {
  position: absolute;
  background-color: var(--color-blue);
  color: #fff;
  font-weight: 800;
  height: 60px;
  width: 40%;
  right: 30px;
  border-radius: 0 0 7px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videos-item .play-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
}
.more-detail {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.more-detail-btn {
  width: 15%;
  height: 55px;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.more-detail-btn:hover {
  background-color: var(--color-blue);
  color: #fff;
}

/* ruler-item */
.ruler-item {
  background-color: #f1faff;
  padding-bottom: 60px;
}
.ruler-item .top {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.ruler-item .top-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: calc(20% - 10px);
}
.ruler-item .top-item p {
  width: 60%;
  white-space: nowrap;
  text-align: center;
  padding: 15px 0;
}
.ruler-item .top-item span {
  color: var(--color-blue);
  font-weight: bold;
}
.ruler-item .bottom {
  display: flex;
  justify-content: center;
}
/* swiper */
.ruler-item .swiper4 {
  width: 1000px;
  height: 100%;
  overflow: hidden;
}
.ruler-item .swiper-wrapper {
  display: flex;
}

.ruler-item .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  padding: 10px;
  cursor: pointer;
  width: 21% !important;
  transition: all 0.2s ease-in-out;
}
.ruler-item .swiper-slide.active {
  width: 34% !important;
}
.ruler-item .swiper-slide > p {
  display: none;
  font-size: 15px;
  width: 75%;
  text-align: justify;
  padding: 0 12px;
}
.ruler-item .swiper-slide.active > p {
  display: block;
  animation: showDetail 0.3s;
}
@keyframes showDetail {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ruler-item .swiper-slide .ruler-box {
  width: 40%;
}
.ruler-item .swiper-slide .ruler-box p {
  color: var(--color-blue);
  margin-bottom: 5px;
  font-size: 16px;
}
.ruler-item .swiper-slide .ruler-box img {
  width: 60px;
  height: 60px;
}
.ruler-item .swiper-pagination {
  bottom: unset;
  background-color: aliceblue;
  margin: 10px 0;
}

/* others */
.others {
  margin-top: 30px;
  padding-bottom: 100px;
}
.others .title {
  padding-bottom: 20px;
}
.others-container {
  width: 100%;
  position: relative;
}
.others-container::after {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  height: 1px;
  background: #496ba9;
  bottom: 11px;
}

.others-title {
  position: relative;
  border-bottom: 2px solid #496ba9;
  min-height: 100px;
}
.others-title-items {
  min-height: 100px;
}
.others-title-items .item-center img,
.others-title-items .item-center svg {
  width: 60px;
  height: 60px;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.others-title-items .item {
  width: calc(100% / 7);
  padding: 0 10px;
  position: relative;
}
.others-title-items .item.active .item-center::after {
  content: "";
  position: absolute;
  width: 89px;
  height: 148px;
  background: url(../images/Vecto.png) no-repeat;
  bottom: -2px;
  right: -28px;
}
.others-title-items .item.active .item-center::before {
  content: "";
  position: absolute;
  width: 89px;
  height: 148px;
  background: url(../images/Vecto1.png) no-repeat;
  bottom: -2px;
  left: -28px;
}
.others-title-items .item.active {
  border-bottom: 2px solid #fff;
  margin-bottom: -1.5px;
  padding: 0 20px;
}
.others-border {
  width: 100%;
}
.others-title-items .item .item-center {
  position: relative;
  margin-bottom: 15px;
}
.others-title-items .item-center {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.others-title-items .item.active .item-center {
}
.others-title-items .item .border-img {
  opacity: 0;
}

.others-title-items .item.active .border-img {
  opacity: 1;
}
.others-title-items .item-center img {
  width: 60px;
  height: 60px;
}
.others-title-items .item-center p {
  font-weight: bold;
  width: 70%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-top: 5px;
  white-space: nowrap;
  width: 100%;
}
.others-content {
  display: flex;
  margin-top: 15px;
}
.others-content .tabs-detail {
  width: 26%;
  display: flex;
  justify-content: center;
  flex: 2;
  align-self: self-start;
}
.others-content .tabs-detail-container {
  width: 80%;
  box-shadow: 0px 0px 30px 0px #0000000d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tabs-detail-item {
  display: flex;
  align-items: center;
  padding: 7px;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}
.tabs-detail-item p {
  margin-right: 10px;
}
.detail-info {
  flex: 5;
  line-height: 30px;
  text-align: justify;
  padding: 20px;
  box-shadow: 0px 0px 30px 0px #0000000d;
}
.others .btn-container {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}
.others .btn-container .section-btn {
  padding: 5px 29px;
}

/* footer */
footer {
  background-color: #f1faff;
  padding: 30px 0;
  padding-top: 160px;
  position: relative;
}
.footer-head {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 30%;
  height: 20%;
}
.corner-left,
.corner-right {
  width: 68%;
  height: 151px;
}
.corner-right {
  position: absolute;
  right: -26px;
  top: -8%;
}
.corner-left {
  position: absolute;
  left: -14%;
  top: -8px;
}
.footer-head-logo {
  position: absolute;
  left: 36%;
  z-index: 999;
  top: 5%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  width: 20%;
  line-height: 30px;
}
.footer-item h5 {
  color: var(--color-blue);
  font-weight: bold;
}
.footer-item a {
  color: #555;
  transition: all 0.2s ease-in-out;
}
.footer-item a:hover {
  color: var(--color-blue);
}
.final-word {
  width: 30%;
}
.footer-item-title {
  margin-bottom: 10px;
}
.footer-image {
  margin-top: 10px;
}
.footer-image img {
  margin-right: 15px;
}
.footer-bottom .social > * {
  margin-right: 10px;
}
.author {
  font-weight: bold;
  font-size: 18px;
}
